Multi-Agent - Travel Chat final (V4) - Telegram.json
{
  "name": "Multi-Agent - Travel Chat final (V4) - Telegram",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3504,
        2032
      ],
      "id": "6571fc45-ee4b-4b31-b526-5de4eae050f0",
      "name": "Send a text message1",
      "webhookId": "6cd90679-4fa4-4226-9986-351189f50ce9",
      "credentials": {
        "telegramApi": {
          "id": "Q3M7mYKQWVHM6Ghh",
          "name": "Telegram account - Nitin"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.parseJson().output.error_msg}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3152,
        1744
      ],
      "id": "47f2d762-5b90-4bde-aa62-51ebba151d24",
      "name": "Send a text message",
      "webhookId": "6cd90679-4fa4-4226-9986-351189f50ce9",
      "credentials": {
        "telegramApi": {
          "id": "Q3M7mYKQWVHM6Ghh",
          "name": "Telegram account - Nitin"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2400,
        2224
      ],
      "id": "08dfe3bb-2bef-481f-9880-3b432ce213e5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2256,
        2208
      ],
      "id": "fbb2e037-5134-4a43-8de5-7be848173afb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oNiYWN5iPEy2vVaa",
          "name": "Nitin OpenAI Key - IK Shared"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3184,
        2224
      ],
      "id": "ff6d48b6-a4d2-40be-9277-18cb6daefab5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "oNiYWN5iPEy2vVaa",
          "name": "Nitin OpenAI Key - IK Shared"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Trip Plan Validator and Summarizer.\n\nINPUT: \nTrip itinerary or error message.\n\nIf input is an error:\nRephrase it politely and clearly.\n\nYOUR RESPONSIBILITIES:\n1. Validate\nEnsure travel dates are consistent.\nEnsure hotel stay matches trip duration.\nEnsure activities fit within daily timing.\nRemove obvious conflicts or unrealistic scheduling.\nIf small issues exist, correct them silently.\n\n2. Optimize and Curate\nIf multiple options are provided:\n\nFlights\nSelect 2–3 best options.\nPrefer non-stop or minimal layovers.\nBalance price and duration.\nRemove redundant or clearly inferior options.\n\nHotels\nSelect top 2–3 options.\nPrefer 4 star+ (or best available from the list).\nPrioritize central location and value.\n\nActivities\nSelect top 5–8 experiences.\nDistribute logically by day.\nBalance iconic attractions and unique/local experiences.\nAvoid overloading any single day.\n\n3. Present Clearly:\nEnsure this structure\nTrip Overview\nFlights\nHotel\nActivities\n\nKeep response readable and professional.\n\nDo not include system or workflow details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3184,
        2032
      ],
      "id": "6d946081-4973-44e1-9f19-a83678a568fb",
      "name": "Validator and Summarizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Trip Planner.\n\nINPUT: \nYou will receive a validated trip request JSON.\n\nYOUR JOB IS TO:\nPass the request to the \"Travel Agent (Orchestrator)\" tool.\nReturn the itinerary response.\nIf the tool returns an error, pass the error message forward.\n\nDo NOT generate your own itinerary.\nDo NOT summarise or modify the content. This is handled by the Validator.\nDo NOT add commentary.\nDo NOT mention system limitations. \n\nIf you run into any errors or issues, report that or pass the error details from the sub workflow as an output."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2864,
        2032
      ],
      "id": "c55bdcab-4b84-4b73-87ba-030a18a35d81",
      "name": "Planner"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Trip Request Coordinator.\n\nYOUR JOB IS TO:\nExtract structured travel details from the user message and return valid JSON using the provided schema.\nKeep the city names for origin and destination instead of airport codes.\n\nCurrent System Time is {{ $now }}.\n\nRULES:\nExtract origin, destination, departure_date, and return_date.\n\nIf any of these four are missing, set error: true.\nPopulate error_msg with a friendly message listing missing fields.\n\n\nIf the message is a greeting, small talk, thanks, or contains no travel request at all (e.g. \"Hello\", \"Hi\", \"thanks\"), set \"error\": true and write a warm error_msg that greets the user back and asks for their trip details (origin, destination, departure and return dates).\n\nALWAYS return a single valid JSON object matching the schema - never reply with plain conversational text, greetings, explanations, or anything outside that JSON object, even for small talk.\nDo NOT create an itinerary.\n\nDo NOT guess missing critical fields.\n\nDefault number_of_travelers to 1 if not provided.\n\nExtract preferences, travel_style, budget, and optional hotel/flight preferences if present.\n\nReturn only structured JSON. \nIn case of error/error_msg must be top-level keys, never nested under \"output\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2384,
        2016
      ],
      "id": "35ce7c3a-2acf-4999-92a2-972b4ff5d817",
      "name": "CoOrdinator",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "onError": "continueRegularOutput",
      "notes": "Respond with an \"Unexpected error encountered. Please retry again\""
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2736,
        2224
      ],
      "id": "ef857dbd-2c08-40e0-a6b5-0b31db98c3b5",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "oNiYWN5iPEy2vVaa",
          "name": "Nitin OpenAI Key - IK Shared"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "186ef341-3d76-40f6-a4c6-d09068d94c8c",
              "leftValue": "={{ $json.output.parseJson().output.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2656,
        2016
      ],
      "id": "af3bd051-dc53-407d-80ce-bfa205e1a01b",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9enPaAY1kHKTS124",
          "mode": "list",
          "cachedResultUrl": "/workflow/9enPaAY1kHKTS124",
          "cachedResultName": "Travel Agent (Orchestrator)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', ``, 'string') }}",
            "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2976,
        2272
      ],
      "id": "18c1a816-366b-40fb-90a0-8e4f4557a6ae",
      "name": "Orchestrator and Executor"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"TripPlannerRequest\",\n  \"type\": \"object\",\n  \"required\": [\n    \"error\",\n    \"error_msg\"\n  ],\n  \"properties\": {\n    \"origin\": {\n      \"type\": \"string\",\n      \"description\": \"City or airport code of departure\"\n    },\n    \"destination\": {\n      \"type\": \"string\",\n      \"description\": \"City or airport code of destination\"\n    },\n    \"departure_date\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"Departure date in DD-MM-YYYY\"\n    },\n    \"return_date\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"Return date in DD-MM-YYYY\"\n    },\n    \"error\": {\n      \"type\": \"boolean\",\n      \"description\": \"Set to true if the message is a greeting/small talk/unrelated to travel (no trip request present), OR if any of origin, destination, departure_date, return_date are missing. Set to false ONLY when the message is a real trip request AND all four of those fields are present.\"\n    },\n    \"error_msg\": {\n      \"type\": \"string\",\n      \"description\": \"Required whenever error is true. For greetings/small talk: a warm message greeting the user back and asking for their trip details (origin, destination, departure and return dates). For an incomplete trip request: a friendly message listing the specific missing fields. Use an empty string when error is false.\"\n    },\n    \"number_of_travelers\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"default\": 1\n    },\n    \"budget\": {\n      \"type\": \"number\",\n      \"description\": \"Total trip budget in USD\"\n    },\n    \"travel_style\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"budget\",\n        \"mid-range\",\n        \"luxury\"\n      ]\n    },\n    \"preferences\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"User interests such as food, museums, nightlife, hiking\"\n    },\n    \"hotel_preferences\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"star_rating_min\": {\n          \"type\": \"number\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"neighborhood\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"flight_preferences\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"nonstop_only\": {\n          \"type\": \"boolean\"\n        },\n        \"preferred_airlines\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2544,
        2224
      ],
      "id": "43f7611a-e8a2-4ef6-aee9-e81b181aae23",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        3680,
        2192
      ],
      "id": "e7d43873-6f98-4b92-8509-61ee3dfe46b3",
      "name": "Chat Response",
      "webhookId": "c4290381-1343-4c8f-aa9a-33f40e6d6ee4"
    },
    {
      "parameters": {
        "message": "={{ $json.output.parseJson().output.error_msg }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        3680,
        2400
      ],
      "id": "73292ed3-4342-483f-a45f-02071db22ae1",
      "name": "Respond to Chat",
      "webhookId": "5578f5ff-cc61-46a5-8b2d-f58bbf1c755b"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        2064,
        2080
      ],
      "id": "d42608e9-5cd0-4e25-bb95-add6ac281df5",
      "name": "Chat Trigger (Chat Bot)",
      "webhookId": "289d1cbd-9404-420a-a8e0-007db3cd3cae"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        2096,
        1888
      ],
      "id": "40503204-db3b-476b-8d82-e1cfd40c4ba2",
      "name": "Telegram Trigger",
      "webhookId": "67aa810d-671d-4d8a-9965-70a20d32ba04",
      "credentials": {
        "telegramApi": {
          "id": "Q3M7mYKQWVHM6Ghh",
          "name": "Telegram account - Nitin"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Validator and Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validator and Summarizer": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner": {
      "main": [
        [
          {
            "node": "Validator and Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "CoOrdinator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CoOrdinator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CoOrdinator": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator and Executor": {
      "ai_tool": [
        [
          {
            "node": "Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "CoOrdinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6b7342cf-be06-4f16-8774-c3e2f9c22734",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70c46afa623a381d66bdb60be3cf1f7463cee3294e5120766c4d65beacbee607"
  },
  "nodeGroups": [],
  "id": "WeJGmVBG3ECfizqU",
  "tags": []
}